/* .text-and-file-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .text-and-file-input {
    border: 2px solid black
} */

/* body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    overflow: hidden;
} */
  
.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.head {
    font-size: small
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-bottom: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;

    top: -10px;
    left: 110%;

}  

.tooltip:hover {
    cursor: pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.circle-color {
    color: #ff9500;
}


.textarea-input-container{
   margin-right: 25px;
}

.encryption-decryption {
    margin-top: 15px;
    margin-bottom: 10px;
}

.buttons {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#encrypt-button, #decrypt-button{
    margin-right: 10px;
}

#FAQ-button {
    position: absolute;
    bottom: 30px;
    right: 30px
}